# NetBeans specific #
nbproject/private/
build/
.scannerwork/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.war
*.ear

# SonarQube file #
run sonarqube.txt
sonar-project.properties