<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/write-blog</url-pattern>
        <url-pattern>/my-blog</url-pattern>
        <url-pattern>/edit-blog</url-pattern>
        <url-pattern>/comment-blog</url-pattern>
        <url-pattern>/edit-comment-blog</url-pattern>
        <url-pattern>/lesson-details</url-pattern>
        <url-pattern>/overview-curriculum</url-pattern>
        <url-pattern>/lesson-details</url-pattern>
        <url-pattern>/test-details</url-pattern>
        <url-pattern>/move-chapter</url-pattern>
        <url-pattern>/certificate</url-pattern>
        <url-pattern>/charge-wallet</url-pattern>
        <url-pattern>/change-password</url-pattern>
        <url-pattern>/charge-transaction</url-pattern>
        <url-pattern>/usage-transaction</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ModeratorFilter</filter-name>
        <filter-class>filter.ModeratorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CourseManager</filter-name>
        <filter-class>filter.CourseManager</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CourseManager</filter-name>
        <url-pattern>/manage-courses</url-pattern>
        <url-pattern>/manage-course</url-pattern>
        <url-pattern>/create-course</url-pattern>
        <url-pattern>/update-course</url-pattern>
        <url-pattern>/remove-course</url-pattern>
        <url-pattern>/manage-chapter</url-pattern>
        <url-pattern>/create-chapter</url-pattern>
        <url-pattern>/update-chapter</url-pattern>
        <url-pattern>/remove-chapter</url-pattern>
        <url-pattern>/create-lesson</url-pattern>
        <url-pattern>/update-lesson</url-pattern>
        <url-pattern>/remove-lesson</url-pattern>
        <url-pattern>/manage-test</url-pattern>
        <url-pattern>/create-test</url-pattern>
        <url-pattern>/update-test</url-pattern>
        <url-pattern>/remove-test</url-pattern>
        <url-pattern>/create-quiz</url-pattern>
        <url-pattern>/update-quiz</url-pattern>
        <url-pattern>/remove-quiz</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ModeratorFilter</filter-name>
        <url-pattern>/commentblog-list</url-pattern>
        <url-pattern>/commentcourse-list</url-pattern>
        <url-pattern>/commentlesson-list</url-pattern>
        <url-pattern>/moderator-bloglist</url-pattern>
        <url-pattern>/manage-commentblog</url-pattern>
        <url-pattern>/manage-commentcourse</url-pattern>
        <url-pattern>/manage-commentlesson</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/manage-accounts</url-pattern>
        <url-pattern>/manage-roles</url-pattern>
        <url-pattern>/manage-events</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
</web-app>
